.full-page{
  &:after{
    background-color: white;
  }
}

.login-page{
  .card-login{
    &.card-plain{
      .form-control{
        border: 1px solid #E3E3E3;
        color: #2c2c2c !important;
      }
    }
  }
}
